--
-- PostgreSQL database dump
--

\restrict wE3CE7gqT0oj4D6pYGv51NWFvG1AL7MqmeGf38aBad1mj6nnhqiwa4IhOxU3MZz

-- Dumped from database version 17.9
-- Dumped by pg_dump version 17.9

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: country; Type: TABLE; Schema: public; Owner: root
--

CREATE TABLE public.country (
    id bigint NOT NULL,
    created_at timestamp without time zone DEFAULT now(),
    code text NOT NULL,
    name text NOT NULL
);


ALTER TABLE public.country OWNER TO root;

--
-- Name: country_id_seq; Type: SEQUENCE; Schema: public; Owner: root
--

ALTER TABLE public.country ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.country_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: customer; Type: TABLE; Schema: public; Owner: root
--

CREATE TABLE public.customer (
    id bigint NOT NULL,
    created_at timestamp without time zone DEFAULT now(),
    code text NOT NULL,
    name text NOT NULL,
    address_line1 text,
    address_line2 text,
    country_id bigint,
    credit_limit numeric(12,2)
);


ALTER TABLE public.customer OWNER TO root;

--
-- Name: customer_id_seq; Type: SEQUENCE; Schema: public; Owner: root
--

ALTER TABLE public.customer ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.customer_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: invoice; Type: TABLE; Schema: public; Owner: root
--

CREATE TABLE public.invoice (
    id bigint NOT NULL,
    created_at timestamp without time zone DEFAULT now(),
    invoice_no text NOT NULL,
    invoice_date date,
    customer_id bigint,
    total_amount numeric(12,2),
    vat numeric(12,2),
    amount_due numeric(12,2)
);


ALTER TABLE public.invoice OWNER TO root;

--
-- Name: invoice_id_seq; Type: SEQUENCE; Schema: public; Owner: root
--

ALTER TABLE public.invoice ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.invoice_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: invoice_line_item; Type: TABLE; Schema: public; Owner: root
--

CREATE TABLE public.invoice_line_item (
    id bigint NOT NULL,
    created_at timestamp without time zone DEFAULT now(),
    invoice_id bigint NOT NULL,
    product_id bigint NOT NULL,
    quantity numeric(12,2),
    unit_price numeric(12,2),
    extended_price numeric(12,2)
);


ALTER TABLE public.invoice_line_item OWNER TO root;

--
-- Name: invoice_line_item_id_seq; Type: SEQUENCE; Schema: public; Owner: root
--

ALTER TABLE public.invoice_line_item ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.invoice_line_item_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: product; Type: TABLE; Schema: public; Owner: root
--

CREATE TABLE public.product (
    id bigint NOT NULL,
    created_at timestamp without time zone DEFAULT now(),
    code text NOT NULL,
    name text NOT NULL,
    units_id bigint,
    unit_price numeric(12,2)
);


ALTER TABLE public.product OWNER TO root;

--
-- Name: product_id_seq; Type: SEQUENCE; Schema: public; Owner: root
--

ALTER TABLE public.product ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.product_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: units; Type: TABLE; Schema: public; Owner: root
--

CREATE TABLE public.units (
    id bigint NOT NULL,
    created_at timestamp without time zone DEFAULT now(),
    code text NOT NULL,
    name text NOT NULL
);


ALTER TABLE public.units OWNER TO root;

--
-- Name: units_id_seq; Type: SEQUENCE; Schema: public; Owner: root
--

ALTER TABLE public.units ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.units_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Data for Name: country; Type: TABLE DATA; Schema: public; Owner: root
--

COPY public.country (id, created_at, code, name) FROM stdin;
\.


--
-- Data for Name: customer; Type: TABLE DATA; Schema: public; Owner: root
--

COPY public.customer (id, created_at, code, name, address_line1, address_line2, country_id, credit_limit) FROM stdin;
\.


--
-- Data for Name: invoice; Type: TABLE DATA; Schema: public; Owner: root
--

COPY public.invoice (id, created_at, invoice_no, invoice_date, customer_id, total_amount, vat, amount_due) FROM stdin;
\.


--
-- Data for Name: invoice_line_item; Type: TABLE DATA; Schema: public; Owner: root
--

COPY public.invoice_line_item (id, created_at, invoice_id, product_id, quantity, unit_price, extended_price) FROM stdin;
\.


--
-- Data for Name: product; Type: TABLE DATA; Schema: public; Owner: root
--

COPY public.product (id, created_at, code, name, units_id, unit_price) FROM stdin;
\.


--
-- Data for Name: units; Type: TABLE DATA; Schema: public; Owner: root
--

COPY public.units (id, created_at, code, name) FROM stdin;
\.


--
-- Name: country_id_seq; Type: SEQUENCE SET; Schema: public; Owner: root
--

SELECT pg_catalog.setval('public.country_id_seq', 1, false);


--
-- Name: customer_id_seq; Type: SEQUENCE SET; Schema: public; Owner: root
--

SELECT pg_catalog.setval('public.customer_id_seq', 1, false);


--
-- Name: invoice_id_seq; Type: SEQUENCE SET; Schema: public; Owner: root
--

SELECT pg_catalog.setval('public.invoice_id_seq', 1, false);


--
-- Name: invoice_line_item_id_seq; Type: SEQUENCE SET; Schema: public; Owner: root
--

SELECT pg_catalog.setval('public.invoice_line_item_id_seq', 1, false);


--
-- Name: product_id_seq; Type: SEQUENCE SET; Schema: public; Owner: root
--

SELECT pg_catalog.setval('public.product_id_seq', 1, false);


--
-- Name: units_id_seq; Type: SEQUENCE SET; Schema: public; Owner: root
--

SELECT pg_catalog.setval('public.units_id_seq', 1, false);


--
-- Name: country country_code_key; Type: CONSTRAINT; Schema: public; Owner: root
--

ALTER TABLE ONLY public.country
    ADD CONSTRAINT country_code_key UNIQUE (code);


--
-- Name: country country_pkey; Type: CONSTRAINT; Schema: public; Owner: root
--

ALTER TABLE ONLY public.country
    ADD CONSTRAINT country_pkey PRIMARY KEY (id);


--
-- Name: customer customer_code_key; Type: CONSTRAINT; Schema: public; Owner: root
--

ALTER TABLE ONLY public.customer
    ADD CONSTRAINT customer_code_key UNIQUE (code);


--
-- Name: customer customer_pkey; Type: CONSTRAINT; Schema: public; Owner: root
--

ALTER TABLE ONLY public.customer
    ADD CONSTRAINT customer_pkey PRIMARY KEY (id);


--
-- Name: invoice invoice_invoice_no_key; Type: CONSTRAINT; Schema: public; Owner: root
--

ALTER TABLE ONLY public.invoice
    ADD CONSTRAINT invoice_invoice_no_key UNIQUE (invoice_no);


--
-- Name: invoice_line_item invoice_line_item_invoice_id_product_id_key; Type: CONSTRAINT; Schema: public; Owner: root
--

ALTER TABLE ONLY public.invoice_line_item
    ADD CONSTRAINT invoice_line_item_invoice_id_product_id_key UNIQUE (invoice_id, product_id);


--
-- Name: invoice_line_item invoice_line_item_pkey; Type: CONSTRAINT; Schema: public; Owner: root
--

ALTER TABLE ONLY public.invoice_line_item
    ADD CONSTRAINT invoice_line_item_pkey PRIMARY KEY (id);


--
-- Name: invoice invoice_pkey; Type: CONSTRAINT; Schema: public; Owner: root
--

ALTER TABLE ONLY public.invoice
    ADD CONSTRAINT invoice_pkey PRIMARY KEY (id);


--
-- Name: product product_code_key; Type: CONSTRAINT; Schema: public; Owner: root
--

ALTER TABLE ONLY public.product
    ADD CONSTRAINT product_code_key UNIQUE (code);


--
-- Name: product product_pkey; Type: CONSTRAINT; Schema: public; Owner: root
--

ALTER TABLE ONLY public.product
    ADD CONSTRAINT product_pkey PRIMARY KEY (id);


--
-- Name: units units_code_key; Type: CONSTRAINT; Schema: public; Owner: root
--

ALTER TABLE ONLY public.units
    ADD CONSTRAINT units_code_key UNIQUE (code);


--
-- Name: units units_pkey; Type: CONSTRAINT; Schema: public; Owner: root
--

ALTER TABLE ONLY public.units
    ADD CONSTRAINT units_pkey PRIMARY KEY (id);


--
-- Name: idx_invoice_date; Type: INDEX; Schema: public; Owner: root
--

CREATE INDEX idx_invoice_date ON public.invoice USING btree (invoice_date);


--
-- Name: idx_line_invoice; Type: INDEX; Schema: public; Owner: root
--

CREATE INDEX idx_line_invoice ON public.invoice_line_item USING btree (invoice_id);


--
-- Name: idx_line_product; Type: INDEX; Schema: public; Owner: root
--

CREATE INDEX idx_line_product ON public.invoice_line_item USING btree (product_id);


--
-- Name: customer customer_country_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: root
--

ALTER TABLE ONLY public.customer
    ADD CONSTRAINT customer_country_id_fkey FOREIGN KEY (country_id) REFERENCES public.country(id);


--
-- Name: invoice invoice_customer_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: root
--

ALTER TABLE ONLY public.invoice
    ADD CONSTRAINT invoice_customer_id_fkey FOREIGN KEY (customer_id) REFERENCES public.customer(id);


--
-- Name: invoice_line_item invoice_line_item_invoice_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: root
--

ALTER TABLE ONLY public.invoice_line_item
    ADD CONSTRAINT invoice_line_item_invoice_id_fkey FOREIGN KEY (invoice_id) REFERENCES public.invoice(id) ON DELETE CASCADE;


--
-- Name: invoice_line_item invoice_line_item_product_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: root
--

ALTER TABLE ONLY public.invoice_line_item
    ADD CONSTRAINT invoice_line_item_product_id_fkey FOREIGN KEY (product_id) REFERENCES public.product(id);


--
-- Name: product product_units_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: root
--

ALTER TABLE ONLY public.product
    ADD CONSTRAINT product_units_id_fkey FOREIGN KEY (units_id) REFERENCES public.units(id);


--
-- PostgreSQL database dump complete
--

\unrestrict wE3CE7gqT0oj4D6pYGv51NWFvG1AL7MqmeGf38aBad1mj6nnhqiwa4IhOxU3MZz

